<% include header%>
<p></p>
<table class="weap" border="2px" align="center" width="100%">
    <tr text-align="center" class="table">
        <th width="50%">Zombie</th>
        <th>Arma</th>
    </tr>
    <tr>
        <td width="50%">Zombie básico</td>
        <td>Ninguna</td>
    </tr>
    <tr>
        <td width="50%">Zombie mamut</td>
        <td>Un mamut. Puede equipar lanzacohetes en los laterales del mismo</td>
    </tr>
    <tr>
        <td width="50%">Mini zombi</td>
        <td>Magia negra, budú africano.</td>
    </tr>
    <tr>
        <td width="50%">Zombi cavernario</td>
        <td>Un anticuado artefacto hecho de madera similar a un bat utilizado para propinar golpes a corta distancia</td>
    </tr>
    <tr>
        <td width="50%">Zombie del oeste</td>
        <td>Pistolas. Puede usarlas en ambas manos</td>
    </tr>
</table>

<% include footer %>