<% include header%>
<p></p>

<table class="weap" border="2px" width="100%">
    <tr>
        <th width="70%">Clase</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>Básica</td>
        <td width="70%"><img src="/zombie.png" width="30%" align="center"></td>
    </tr>
    <tr>
        <td>Zombi mamut</td>
        <td width="70%"><img src="/zombie_mamut.png" width="30%" align="center"></td>
    </tr>
    <tr>
        <td>Mini zombi</td>
        <td width="70%"><img src="/zombito.png" width="30%" align="center"></td>
    </tr>
    <tr>
        <td>Zombi cavernario</td>
        <td width="70%"><img src="/zombie_caver.png" width="30%" align="center"></td>
    </tr>
    <tr>
        <td>Zombi del oeste</td>
        <td width="70%"><img src="/zombie_cowboy.png" width="30%" align="center"></td>
    </tr>
</table>

<% include footer %>