<% include header%>
<p></p>

<table class="victim" border="2px" align="center" width="100%">
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Instagram</th>
    </tr>
    <tr>
        <td>Juanito López Pérez</td>
        <td>Calle Palmeras Fracc. Arboledas #123</td>
        <td>6181478569</td>
        <td>@juanitoPalmeras</td>
    </tr>
    <tr>
        <td>Heladio Juárez Domínguez</td>
        <td>Calle Montañas Fracc. El valle #321</td>
        <td>6181758595</td>
        <td>@HeladioJD</td>
    </tr>
    <tr>
        <td>Constantino Rodríguez Galindo</td>
        <td>Calle San Juan Fracc. Los altos #231</td>
        <td>6181626568</td>
        <td>@Consta66</td>
    </tr>
</table>

<% include footer %>